.l-music{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(140px,1fr));
    grid-column-gap:25px;
    grid-row-gap: 30px;

    & p:nth-child(1){
        padding-top:10px;
    }
    
}


.l-cover{
    position:relative;

    &__play{
        position: absolute;
        content: '';
        top:28%;
        left:40%;
        border-left: 35px solid setColor(primary);
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }

    &:hover{
        cursor:pointer
    }

    &__content{

        & img{
            width:100%;
        }
    }
}