
<main class="sidebar">
    <article class="sidebar__hero">
        <img src="./../../../../assets/img/admin/foxbel-music@3x.png" alt="FoxBel Music Icon">
    </article>
    <article class="sidebar__modules">
        <ul>
            <li><p class="title2">Mi Librería</p></li>
            <li><a [routerLink]="['/admin/recientes']" routerLinkActive="active" class="paragraph">Recientes</a></li>
            <li><a [routerLink]="['/admin/artistas']" routerLinkActive="active" class="paragraph">Artistas</a></li>
            <li><a [routerLink]="['/admin/albunes']" routerLinkActive="active" class="paragraph">Álbums</a></li>
            <li><a [routerLink]="['/admin/canciones']" routerLinkActive="active" class="paragraph">Canciones</a></li>
            <li><a [routerLink]="['/admin/estaciones']" routerLinkActive="active" class="paragraph">Estaciones</a></li>
        </ul>
        <ul>
            <li><p class="title2">Playlist</p></li>
            <li><a [routerLink]="['/admin/metal']" routerLinkActive="active" class="paragraph">Metal</a></li>
            <li><a [routerLink]="['/admin/para-bailar']" routerLinkActive="active" class="paragraph">Para Bailar</a></li>
            <li><a [routerLink]="['/admin/rock']" routerLinkActive="active" class="paragraph">Rock 90s</a></li>
            <li><a [routerLink]="['/admin/baladas']" routerLinkActive="active" class="paragraph">Baladas</a></li>
        </ul>
    </article>
</main>